<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <thomascustomerpassword>
            <general>
                <enable>1</enable>
				<enable_cli>0</enable_cli>
                <enable_field>1</enable_field>
                <sender_identity>general</sender_identity>
                <custom_reset_password>custom_reset_password</custom_reset_password>
            </general>
        </thomascustomerpassword>
    </default>
</config>
