<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="ThomasProcessSendCustomerResetpass" xsi:type="object">Thomas\CustomerPassword\Console\Command\ResetPassword</item>
                <item name="ThomasProcessResetIsSentCustomer" xsi:type="object">Thomas\CustomerPassword\Console\Command\ResetIsSent</item>
                <item name="ThomasChangeCustomerPassword" xsi:type="object">Thomas\CustomerPassword\Console\Command\ChangeCustomerPassword</item>
			</argument>
		</arguments>
	</type>

    <preference for="Thomas\CustomerPassword\Api\PasswordLogRepositoryInterface" type="Thomas\CustomerPassword\Model\PasswordLogRepository"/>
	<preference for="Thomas\CustomerPassword\Api\Data\PasswordLogInterface" type="Thomas\CustomerPassword\Model\PasswordLog"/>
	<preference for="Thomas\CustomerPassword\Api\Data\PasswordLogSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Thomas\CustomerPassword\Model\ResourceModel\PasswordLog\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">thomas_customerpassword_passwordlog</argument>
			<argument name="resourceModel" xsi:type="string">Thomas\CustomerPassword\Model\ResourceModel\PasswordLog\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="thomas_customerpassword_passwordlog_listing_data_source" xsi:type="string">Thomas\CustomerPassword\Model\ResourceModel\PasswordLog\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
