<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="controller_action_predispatch_customer_index_save">
		<observer name="ThomasCustomerSavePredicpatch" instance="Thomas\CustomerPassword\Observer\Backend\Controller\ActionPredispatchCustomerIndexSave"/>
	</event>
	<event name="adminhtml_customer_save_after">
		<observer name="ThomasCustomerSaveAfter" instance="Thomas\CustomerPassword\Observer\Backend\Adminhtml\CustomerSaveAfter"/>
	</event>
</config>
