<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="thomas_customerpassword" id="thomas_customerpassword">
			<module before="Magento_Backend" name="Thomas_CustomerPassword"/>
		</route>
	</router>
</config>
