<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="workwiththomas" translate="label" sortOrder="200">
			<label>Work with thomas</label>
		</tab>
		<section id="thomascustomerpassword" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
			<class>separator-top</class>
			<label>Customer Password</label>
			<tab>workwiththomas</tab>
			<resource>Thomas_CustomerPassword::config</resource>
			<group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Email Settings</label>
                <field id="enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="5" translate="label" type="select">
					<label>Enable</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="enable_cli" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label comment" type="select">
					<label>Console Command</label>
            		<comment><![CDATA[Enable console command to change customer's password by either id or email <br /><code>customer:password:change [-p|--password="..."] [-i|--customer-id[="..."]] [-e|--customer-email[="..."]]</code> ]]></comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
                <field id="enable_field" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="12" translate="label comment" type="select">
					<label>Show Password Field In Customer Form</label>
            		<comment>Show/hide Customer Password Field In Admin Customer Add/Edit Form.</comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="sender_identity" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Email Sender</label>
					<source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
				</field>
				<field id="custom_reset_password" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Reset Password Email Template</label>
                    <comment>Email template will been used reset password programe.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
			</group>
		</section>
	</system>
</config>
